.sobre-nos{
    background-color: #1f1e1f;
    width: 100%;
    padding-bottom: 5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.sobre-nos img{
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border:  2px solid rgb(155, 155, 166);
}

.sobre-nos .main{
   
    display: flex;
    justify-content: space-between;
}

.sobre-nos .main .contentsobre{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre-nos .main .contentsobre h2{
    font-size: 6rem;
    margin-bottom: 1rem;
}

.sobre-nos .main .contentsobre p{
    text-align: center;
    font-size: 1.8rem;
    width: 600px;
}